global
    log 127.0.0.1 local0 notice
    maxconn 2000
    user haproxy
    group haproxy
#    ssl-default-bind-options no-sslv3 no-tlsv10 no-tlsv11

defaults
    log     global
    mode    http
    option  httplog
    option  dontlognull
    retries 3
    option redispatch
    timeout connect  5000
    timeout client  10000
    timeout server  10000

frontend myfrontend
	# primary cert is /etc/cert/server.pem
	bind :8443 ssl crt /home/bpaulin/git/networking-anger/ssl-demo/localhost-combine.pem
	bind :8080
        default_backend mybackend

backend mybackend
	# a https backend
	server s4 127.0.0.1:8043 ssl verify none
